nz-header {
  position: relative;
  background-color: var(--SINBAD);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 5px 10%;
}

.logo{
  cursor: pointer;
  transition: all 0.4s;
  height: 48px;
  width: 48px;

  .material-icons.md-48 {
    font-size: 48px;
    color: white;
  }
}
.logo span:hover{
  transform: scale(1.2);
}

.nav-links{
  padding: 15px;
  margin: 10px;
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0 15px;
  transition: all 0.5s;
}

.nav-links li a{
  text-decoration: none;
  color: white;
}

.nav-links li:hover {
  background-color: rgba(214, 238, 226, 0.65);
}

.active{
  background-color: rgba(214, 238, 226, 0.65);
  padding: 15px;
}

.md-30{
  color: white;
  font-size: 30px;
}

.sub-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--PARCHMENT);
  padding: 24px;

  li {
    width: 100%;
    padding: 15px;
  }

  li span {
    font-size: 20px;
    margin-right: 20px;
  }

  li a {
    text-decoration: none;
    color: var(--EAST-BAY);
  }
}






