<nz-skeleton [nzLoading]="loading" [nzParagraph]="{ rows: 8 }" [nzActive]="true">
  <div class="principal">
    <nz-page-header
      class="site-page-header"
      (nzBack)="goToBack()"
      nzBackIcon
      nzTitle="Reserva Casa"
      nzSubtitle="Mira informacion mas detallada y haz tu reservacion"
    ></nz-page-header>
    <div nz-row>
      <div nz-col nzSpan="15">
        <div class="img">
          <nz-rate [ngModel]="reputacion" nzAllowHalf [nzDisabled]="true"></nz-rate>
          <img nz-image [nzSrc]="img" alt="">
        </div>
        <nz-divider></nz-divider>
        <nz-descriptions nzTitle="Informacion de la vivienda" [nzColumn]="2">
          <nz-descriptions-item nzTitle="Pais">{{ house?.pais }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Estado">{{ house?.estado }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Ciudad">{{ house?.ciudad }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Disreccion">{{ house?.direccion }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Telefono">{{ house?.telefono }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Propietario">{{ house?.idPropietario }}</nz-descriptions-item>
        </nz-descriptions>
      </div>
      <div nz-col nzSpan="9">
        <div class="formulario">
          <h3>Hacer Reservacion De la Casa</h3>
          <form [formGroup]="form" (ngSubmit)="onSaveReserver($event)">
            <mat-form-field appearance="fill">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="fechaInicial" placeholder="Start date">
                <input matEndDate formControlName="fechaFinal" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button nz-button type="submit" [disabled]="form.invalid" [nzLoading]="loadingReserva">
              <i nz-icon nzType="diff" nzTheme="outline"></i>
              Guardar Reserva
            </button>
          </form>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <nz-comment *ngFor="let coment of calificacion" nzAuthor="{{ coment.idUsuario }}">
          <nz-avatar
            nz-comment-avatar
            nzIcon="user"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
          </nz-avatar>
          <nz-comment-content>
            <p>
              {{ coment.comentario }}
            </p>
          </nz-comment-content>
        </nz-comment>
      </div>
    </div>
  </div>
</nz-skeleton>
