<nz-skeleton  [nzLoading]="loading" [nzParagraph]="{ rows: 8 }" [nzActive]="true">
  <nz-empty
    *ngIf="house.length === 0; else renderHouse"
    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
    [nzNotFoundContent]="contentTpl"
  >
    <ng-template #contentTpl>
        <span>
          No se encontraron Viviendas
          <a routerLink="/home">Ir a inicio</a>
        </span>
    </ng-template>
  </nz-empty>
  <ng-template #renderHouse>
    <app-houses
      [houseId]="houseId"
      [houses]="house"
    ></app-houses>
  </ng-template>
</nz-skeleton>


