mat-icon{
  width: 100%;
  color: var(--EAST-BAY);
  font-size: 5rem;
  text-align: center;
}

form{
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid{
  margin: 2rem 0rem 2rem 0rem;
  padding: 0rem 7rem 0rem 7rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 2rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));

  div{
    grid-column: span 3;
  }
}

.actions{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spam{
  margin: 4rem;
  p{
    width: 100%;
    text-align: center;
  }
}
