<form [formGroup]="form" (ngSubmit)="login($event)">
  <div class="logo">
    <mat-icon aria-hidden="false" aria-label="Example home icon">assignment_ind</mat-icon>
    <nz-divider nzText="Iniciar Seccion"></nz-divider>
  </div>
  <div class="grid">
    <div>
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input type="text"
               nz-input
               formControlName="nombreUsuario"
               placeholder="Ingresa tu Nombre de Usuario"
               (input)="form.get('nombreUsuario')?.setValue(form.get('nombreUsuario')?.value.toUpperCase())"/>
        <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
      </nz-input-group>
    </div>
    <div>
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          [type]="hide ? 'text' : 'password'"
          nz-input
          placeholder="Ingresa tu contraseña"
          formControlName="password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="hide ? 'eye' : 'eye-invisible'" (click)="hide = !hide"></i>
      </ng-template>
    </div>
  </div>
  <div class="actions">
    <button nz-button nzSize="large"
            [disabled]="form.invalid"
            [nzLoading]="loading"
            type="submit">
      Crear Usuario
    </button>
  </div>
  <div class="spam">
    <p>No tienes una Cuenta?<a routerLink="/user/new-user"> Crea una aqui</a></p>
  </div>
</form>
