/* You can add global styles to this file, and also import other style files */

:root{
  --PARCHMENT: #F4EEDC;
  --DRIFTWOOD: #AF984A;
  --SINBAD: #94CDC0;
  --FALCON: #776366;
  --EAST-BAY: #465B8B;
  --FERN: #62b872;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
}
html, body {
  height: 100%;
}
body {
  background-color: var(--PARCHMENT);
}

