<form [formGroup]="form" (ngSubmit)="saveUser($event)">
  <div class="logo">
    <mat-icon aria-hidden="false" aria-label="Example home icon">person_add</mat-icon>
    <nz-divider nzText="Crear Un Nuevo Perfil"></nz-divider>
  </div>
  <div class="grid">
    <div>
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input type="text"
               nz-input
               formControlName="nombreUsuario"
               placeholder="Ingresa tu Nombre de Usuario"
               (input)="form.get('nombreUsuario')?.setValue(form.get('nombreUsuario')?.value.toUpperCase())"/>
        <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
      </nz-input-group>
    </div>
    <div>
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input type="text"
               nz-input
               formControlName="nombres"
               placeholder="Ingresa tus Nombres"/>
      </nz-input-group>
    </div>
    <div>
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input type="text"
               nz-input
               formControlName="apellidos"
               placeholder="Ingresa tus Apellidos"/>
      </nz-input-group>
    </div>
    <div class="select">
      <nz-select nzShowSearch
                 nzSize="large"
                 nzAllowClear
                 nzPlaceHolder="Ingresa el pais"
                 formControlName="pais"
                 [nzShowArrow]="false" >
        <nz-option *ngFor="let country of countries"
                   [nzLabel]="country.country_name" [nzValue]="country.country_name"></nz-option>
      </nz-select>
    </div>
    <div class="select">
      <nz-select nzShowSearch
                 nzSize="large"
                 nzAllowClear
                 nzPlaceHolder="Ingresa el estado"
                 formControlName="estado"
                 (click)="loadState(form.get('pais')?.value)"
                 [nzShowArrow]="false" >
        <nz-option *ngFor="let state of states"
                   [nzLabel]="state.state_name" [nzValue]="state.state_name"></nz-option>
      </nz-select>
    </div>
    <div class="select">
      <nz-select nzShowSearch
                 nzSize="large"
                 nzAllowClear
                 nzPlaceHolder="Ingresa la ciudad"
                 formControlName="ciudad"
                 (click)="loadCities(form.get('estado')?.value)"
                 [nzShowArrow]="false" >
        <nz-option *ngFor="let city of cities"
                   [nzLabel]="city.city_name" [nzValue]="city.city_name"></nz-option>
        <nz-option *ngIf="cities.length === 0" [nzLabel]="form.get('estado')?.value"
                   [nzValue]="form.get('estado')?.value"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          [type]="hide ? 'text' : 'password'"
          nz-input
          placeholder="Ingresa tu contraseña"
          formControlName="password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="hide ? 'eye' : 'eye-invisible'" (click)="hide = !hide"></i>
      </ng-template>
    </div>
    <div>
      <label nz-checkbox formControlName="check">Quiero ser Anfitrion</label>
    </div>
  </div>
  <div class="actions">
    <button nz-button nzSize="large"
            [disabled]="form.invalid"
            [nzLoading]="loading"
            type="submit">
      Crear Usuario
    </button>
  </div>
  <div class="spam">
    <p>Ya tienes una cuenta?<a routerLink="/user/login"> Inica Seccion</a></p>
  </div>
</form>
